html, body {
    padding: 0;
    margin: 0;
    background-color: #2a2927;
}

nav {
    text-align: center;
    background-color: #01e1f7;
    padding-top: 2px;
    padding-bottom: 2px;
}
li {
    display: inline;
    padding: 5px;
    list-style-type: none;
}
li a , li a:visited{
    color: #2a2927;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    letter-spacing: 1px;
}
h1  {
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}
    
#about p {
    text-align: center;
    font-size: large;
    color: #FFFFFF;
}
h2    {
    text-align: center;
    padding: 20px;
    background-color: #fc1f09;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,1.00);
    box-shadow: 2px 2px 2px rgba(0,0,0,1.00);
    border-radius: 20px;
    color: #FFFFFF;
    margin-left: 25%;
    margin-right: 25%;
    font-weight: 900;
}
#starters h3 {
    color: #2A2927;
    padding: 20px;
    background-color: #01E1F7;
    text-align: center;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,1.00);
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,1.00);
    margin-left: 30%;
    margin-right: 30%;
}
#extras h3 {
    color: #2A2927;
    padding: 20px;
    background-color: #01E1F7;
    text-align: center;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,1.00);
    box-shadow: 2px 2px 2px rgba(0,0,0,1.00);
    margin-left: 30%;
    margin-right: 30%;
}
#dinner h3 {
    color: #2A2927;
    padding: 20px;
    background-color: #FC6C15;
    text-align: center;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,1.00);
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,1.00);
    margin-left: 30%;
    margin-right: 30%;
}
#specials h3 {
    color: #FFFFFF;
    padding: 20px;
    background-color: #FC1F09;
    text-align: center;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,1.00);
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,1.00);
    margin-left: 30%;
    margin-right: 30%;
}
#starters h4 {
    color: #01E1F7;
    font-size: large;
    text-transform: uppercase;
    margin-left: 10px;
}
#extras h4 {
    color: #FFFFFF;
    font-size: large;
    text-transform: uppercase;
    margin-left: 10px;
}
#dinner h4 {
    color: #FC6C15;
    font-size: large;
    text-transform: uppercase;
    margin-left: 10px;
}
#specials h4 {
    color: #FFFFFF;
    font-size: large;
    text-transform: uppercase;
    margin-left: 10px;
}
#starters table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
#extras table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 5px solid rgba(1,225,247,1.00);
}
#extras table td {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
#dinner table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 5px dashed rgba(252,108,21,1.00);
}
#specials table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 5px dotted rgba(255,255,255,1.00);
    background-color: rgba(252,31,9,1.00);
    color: rgba(255,255,255,1.00);
}
table p {
    color: rgba(255,255,255,1.00);
    margin-left: 10px;
}
#starters table span {
    float: right;
    padding: 30px;
    border-radius: 100px;
    background-color: rgba(1,225,247,1.00);
    color: rgba(255,255,255,1.00);
    font-size: x-large;
    text-align: center;
}
#extras table span {
    float: right;
    padding: 30px;
    border-radius: 100px;
    color: rgba(255,255,255,1.00);
    font-size: x-large;
    text-align: center;
}
#dinner table span {
    padding: 30px;
    border-radius: 100px;
    color: rgba(255,255,255,1.00);
    background-color: rgba(252,108,21,1.00);
    font-size: x-large;
    text-align: center;
    float: right;
}
#specials table span {
    padding: 30px;
    border-radius: 100px;
    color: rgba(255,255,255,1.00);
    font-size: x-large;
    text-align: center;
    float: right;
}
ul li p {
    text-align: center;
}
img {
    padding: 25px;
    border-radius: 200px;
    width: 200px;
}
#contact {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#contact form label {
    color: rgba(255,255,255,1.00);
    font-size: large;
}
input   {
    border-radius: 10px;
    padding: 3px;
    border: 2px solid rgba(252,31,9,1.00);
    -webkit-box-shadow: 2px 2px 2px rgba(252,108,21,1.00);
    box-shadow: 2px 2px 2px rgba(252,108,21,1.00);
    background-color: rgba(1,225,247,1.00);
}
#contact p, #contact a {
    color: rgba(255,255,255,1.00);
}